<p id="notice"><%= notice %></p>

<p>
  <strong>Safety:</strong>
  <%= @installation.safety %>
</p>

<p>
  <strong>Fabrication:</strong>
  <%= @installation.fabrication %>
</p>

<p>
  <strong>Product:</strong>
  <%= @installation.product %>
</p>

<%= link_to 'Edit', edit_installation_path(@installation) %> |
<%= link_to 'Back', installations_path %>
