<p id="notice"><%= notice %></p>

<p>
  <strong>Selector:</strong>
  <%= @design.selector %>
</p>

<p>
  <strong>Guide:</strong>
  <%= @design.guide %>
</p>

<p>
  <strong>Area:</strong>
  <%= @design.area %>
</p>

<p>
  <strong>Sectors:</strong>
  <%= @design.sectors %>
</p>

<p>
  <strong>Finishes:</strong>
  <%= @design.finishes %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @design.availability %>
</p>

<p>
  <strong>Product:</strong>
  <%= @design.product %>
</p>

<%= link_to 'Edit', edit_design_path(@design) %> |
<%= link_to 'Back', designs_path %>
