<p id="notice"><%= notice %></p>

<p>
  <strong>Day number:</strong>
  <%= @quote.day_number %>
</p>

<p>
  <strong>Content:</strong>
  <%= @quote.content %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @quote.speaker %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
