<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @business.body %>
</p>

<p>
  <strong>Product:</strong>
  <%= @business.product %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
