<p id="notice"><%= notice %></p>

<h1>Decors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Type</th>
      <th>Image path</th>
      <th>Image type</th>
      <th>Image size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @decors.each do |decor| %>
      <tr>
        <td><%= decor.name %></td>
        <td><%= decor.number %></td>
        <td><%= decor.type %></td>
        <td><%= decor.image_path %></td>
        <td><%= decor.image_type %></td>
        <td><%= decor.image_size %></td>
        <td><%= link_to 'Show', decor %></td>
        <td><%= link_to 'Edit', edit_decor_path(decor) %></td>
        <td><%= link_to 'Destroy', decor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Decor', new_decor_path %>
