<p id="notice"><%= notice %></p>

<p>
  <strong>Video link:</strong>
  <%= @learn.video_link %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @learn.thumbnail %>
</p>

<p>
  <strong>Thumbnail type:</strong>
  <%= @learn.thumbnail_type %>
</p>

<p>
  <strong>Thumbnail size:</strong>
  <%= @learn.thumbnail_size %>
</p>

<%= link_to 'Edit', edit_learn_path(@learn) %> |
<%= link_to 'Back', learns_path %>
