<%= form_with(model: user_info, local: true) do |form| %>
  <% if user_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_info.errors.count, "error") %> prohibited this user_info from being saved:</h2>

      <ul>
      <% user_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :designation %>
    <%= form.text_field :designation %>
  </div>

  <div class="field">
    <%= form.label :permanent_office %>
    <%= form.text_field :permanent_office %>
  </div>

  <div class="field">
    <%= form.label :current_office %>
    <%= form.text_field :current_office %>
  </div>

  <div class="field">
    <%= form.label :extension %>
    <%= form.text_field :extension %>
  </div>

  <div class="field">
    <%= form.label :mob_number %>
    <%= form.text_field :mob_number %>
  </div>

  <div class="field">
    <%= form.label :alt_number %>
    <%= form.text_field :alt_number %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
