<p id="notice"><%= notice %></p>

<h1>User Infos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>User</th>
      <th>Designation</th>
      <th>Permanent office</th>
      <th>Current office</th>
      <th>Extension</th>
      <th>Mob number</th>
      <th>Alt number</th>
      <th>Birthday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_infos.each do |user_info| %>
      <tr>
        <td><%= user_info.name %></td>
        <td><%= user_info.image %></td>
        <td><%= user_info.user %></td>
        <td><%= user_info.designation %></td>
        <td><%= user_info.permanent_office %></td>
        <td><%= user_info.current_office %></td>
        <td><%= user_info.extension %></td>
        <td><%= user_info.mob_number %></td>
        <td><%= user_info.alt_number %></td>
        <td><%= user_info.birthday %></td>
        <td><%= link_to 'Show', user_info %></td>
        <td><%= link_to 'Edit', edit_user_info_path(user_info) %></td>
        <td><%= link_to 'Destroy', user_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Info', new_user_info_path %>
