<style>
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 10px;
}
</style>
<nav class="navbar" style="font-family: comic sans;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-left">

        <li class="nav-item">
          <%= link_to "Overview", "/home/overview?product=" + params[:product]%>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Design <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to("Decor Selector", "/home/design?product="+params[:product]+"&col=selector",
             class: 'dropdown-item')%></li>
            <li><%= link_to("Decor Guide", "/home/design?product="+params[:product]+"&col=guide",
             class: 'dropdown-item')%></li>
            <li><%= link_to("Application Area", "/home/design?product="+params[:product]+"&col=area",
             class: 'dropdown-item')%></li>
            <li><%= link_to("Sectors", "/home/design?product="+params[:product]+"&col=sectors",
             class: 'dropdown-item')%></li>
            <li><%= link_to("Finishes", "/home/design?product="+params[:product]+"&col=finishes",
             class: 'dropdown-item')%></li>
            <li><%= link_to("Availability Matrix", "/home/design?product="+params[:product]+
            "&col=availability", class: 'dropdown-item')%></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Technical<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a class="test" href="#">Manufacturing<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to("Input Materials", "/home/technical?product="+params[:product]+"&col=inputs&table=manufacturing", class: 'dropdown-item')%></li>
                <li><%= link_to("Manufacturing Process", "/home/technical?product="+params[:product]+"&col=process&table=manufacturing", class: 'dropdown-item')%></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="test" href="#">Installation<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to("Safety", "/home/technical?product="+params[:product]+"&col=safety&table=installation", class: 'dropdown-item')%></li>
                <li><%= link_to("Fabrication", "/home/technical?product="+params[:product]+"&col=fabrication&table=installation", class: 'dropdown-item')%></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="test" href="#">Performence<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to("Features", "/home/technical?product="+params[:product]+"&col=features&table=performence", class: 'dropdown-item')%></li>
                <li><%= link_to("Maintenance", "/home/technical?product="+params[:product]+"&col=maintenance&table=performence", class: 'dropdown-item')%></li>
                <li><%= link_to("Warranty", "/home/technical?product="+params[:product]+"&col=warranty&table=performence", class: 'dropdown-item')%></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <%= link_to "Business", "/home/business?product=" + params[:product]%>
        </li>

      </ul>
    </div>
  </div>
</nav>

<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>

<div class="col-sm-6 col-sm-offset-4">
  <h1>Design</h1><br>
  <h2>Product name : <%= params[:product] %></h2><br>
  HTML content:<br><br>
  <%= Product.find_by(name: params[:product]).design.send(params[:col].to_sym).html_safe%>
</div>