<style>
.group-1{
	text-align: left;
	padding: 30px;
}	
.group-2{
	margin-top: 60px;
	padding: 30px;
	background-color: rgba(192,192,192,0.4);
}	
.list_item{
}
.my_btn{
	font-size: 20px;
	text-align: left;
	white-space: normal;
	text-transform: none;
}
#banner{
	width: 100%;
	margin-top: 50px;
}	
</style>
<header>
    	<img id="banner" src="http://sites.cardiff.ac.uk/cshub/files/2017/12/Downloads.jpg" style="width: 100%;">

    <div class="header-content page-wrap" style="padding-left: 30px;padding-bottom: 50px;background-color: #eef4f7;">
    	<div class="container">
    		<div class="col-md-7 group-1">
    			<h1>Files to Download</h1><hr>
		    	<% if params[:category] == "all" && params[:product] == "all"
			    	p_obj = @resources
			    else
			    	p_obj = Resource.all
		    	end %>    			
    			<% p_obj.each do |r| %>
    			<% if params[:category] == "all" || params[:category] == r.category %>
    			<% if params[:product] == "all" || params[:product] == r.product.name.gsub("+", "plus") %>
			    	<div class="list_item">
			    		<%= link_to r.name, r.link, class: "btn btn-info btn-block my_btn", target: "_blank" %>		    		
			    	</div><hr>
			    <% end %>	
			    <% end %>	
		    	<% end %>
    		</div>	
    		<div class="col-md-1"></div>
    		<div class="col-md-4 group-2">
    			<h1>Filter Downloads</h1>
    			<hr>
    			<h3>Product</h3>
				<select id="select-1" class="form-control form-control-lg" onchange="change_category()">
					<option selected="selected">Select product filter</option>
					<option value="all">All</option>
				<% Product.all.each do |p| %>	
					<option value="<%== p.name.gsub("+", "plus") %>"><%= p.name %></option>
				<% end %>  
				</select>
				<h3>Document Type</h3>
				<select id="select-2" class="form-control form-control-lg" onchange="change_category2()">
					<option selected="selected">Select category filter</option>
					<option value="all">All</option>
					<option value="Catalogue">Catalogue and Brochure</option>
					<option value="Certificate">Certificate</option>
					<option value="Technical">Technical data sheet</option>
					<option value="Decor">Decor Swatch</option>
					<option value="Environment">Environment and sustainability</option>
				</select>
				<br><br>
				<button type="submit onclick="send_post()" class="btn btn-primary mb-2">Apply</button>
    		</div>	
    	</div>
    	<% if params[:category] == "all" && params[:product] == "all" %>
	    	<h3><%= will_paginate @resources %></h3>
    	<% end %>

    </div>
</header>
<script>
	var category = "<%= params[:category] %>";
	var product = "<%= params[:product] %>";
	console.log(category);
	console.log(product);
	function change_category2(){
		category = document.getElementById('select-2').value;
		console.log(category);
	}
	function change_category(){
		product = document.getElementById('select-1').value;
		console.log(product);
	}
	$("button").click(function() {
		location = "/home/downloads?product="+product+"&category="+category;
	});
</script>

<script type="text/javascript">
;(function($){
  
    /**
     * Store scroll position for and set it after reload
     *
     * @return {boolean} [loacalStorage is available]
     */
    $.fn.scrollPosReaload = function(){
        if (localStorage) {
            var posReader = localStorage["posStorage"];
            if (posReader) {
                $(window).scrollTop(posReader);
                localStorage.removeItem("posStorage");
            }
            $(this).click(function(e) {
                localStorage["posStorage"] = $(window).scrollTop();
            });

            return true;
        }

        return false;
    }
    
    /* ================================================== */

    $(document).ready(function() {
        // Feel free to set it for any element who trigger the reload
        $('.btn').scrollPosReaload();
    });
  
}(jQuery));  
	
</script>

