<style>
.container img {
   width: 100%;
   padding: 20px;
   border-left: solid;
   border-right: solid;
   border-radius: 30px;
}
#filter{
	font-size: 30px;
	color: black;
}	
.round-box{
	border-radius: 50px;
}
#banner{
	width: 100%;
	margin-top: 60px;
}	
</style>
<header>
	<img id="banner" src="<%= Banner.last.projects if Banner.last != nil %>">

    <div class="header-content page-wrap" style="padding-left: 30px;padding-bottom: 50px;background-color: #eef4f7;">

		<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
			<%= link_to "All", "/home/references?par=all", class: "btn btn-primary" %>	
			<%= link_to "Residential", "/home/references?par=residential", class: "btn btn-primary" %>	
			<%= link_to "Commercial", "/home/references?par=commercial", class: "btn btn-primary" %>		
		</div>
		<hr>
    	<p id="filter">(Showing <%= params[:par] %> projects)</strong></p>
    	<br><br>
		<% if params[:par] == 'all'
		 	r_obj = @references
		 end %>
		<% if params[:par] == 'residential'
			r_obj = @residentials
		end	%>
		<% if params[:par] == 'commercial'
			r_obj = @commercials
		end	%>

		<% r_obj.each do |r|%>
		<div class="container round-box" style="padding:20px;background-color: rgba(192,192,192,0.4);">
			<div class="row">
				<div class="col-md-5">
			    	<img src="<%= r.image%>">					
				</div>
				<div class="col-md-7" style="text-align: left">
					<h3><strong>Project :</strong> <%= r.project%></h3>
					<h3><strong>Project Type :</strong> <%= r.project_type%></h3>
					<h3><strong>Customer :</strong> <%= r.customer%></h3>
					<% if r.location != nil %>
						<h3><strong>Location :</strong> <%= r.location%></h3>
					<% end %>
				</div>
			</div>			
		</div>
		<hr>
		<% end %>

		<h3><%= will_paginate r_obj %></h3>
    </div>
</header>

<script type="text/javascript">
;(function($){
  
    /**
     * Store scroll position for and set it after reload
     *
     * @return {boolean} [loacalStorage is available]
     */
    $.fn.scrollPosReaload = function(){
        if (localStorage) {
            var posReader = localStorage["posStorage"];
            if (posReader) {
                $(window).scrollTop(posReader);
                localStorage.removeItem("posStorage");
            }
            $(this).click(function(e) {
                localStorage["posStorage"] = $(window).scrollTop();
            });

            return true;
        }

        return false;
    }
    
    /* ================================================== */

    $(document).ready(function() {
        // Feel free to set it for any element who trigger the reload
        $('.btn').scrollPosReaload();
    });
  
}(jQuery));  
	
</script>
