<style>
.sign-in{
  width: 450px;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  color: silver;
  border-radius: 20px;
}  
.black-login{
  color: black;
}
</style>
<div class="container sign-in bg-dark" style="">
  <img src="/favicon.png">
  <h2>Log in</h2>
  <hr>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "black-login" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "black-login" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>


</div>
