<%= form_with(model: technical, local: true) do |form| %>
  <% if technical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(technical.errors.count, "error") %> prohibited this technical from being saved:</h2>

      <ul>
      <% technical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :composition %>
    <%= form.text_field :composition %>
  </div>

  <div class="field">
    <%= form.label :manufacturing %>
    <%= form.text_field :manufacturing %>
  </div>

  <div class="field">
    <%= form.label :install %>
    <%= form.text_field :install %>
  </div>

  <div class="field">
    <%= form.label :perform %>
    <%= form.text_field :perform %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
