<%= form_with(model: reference, local: true) do |form| %>
  <% if reference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reference.errors.count, "error") %> prohibited this reference from being saved:</h2>

      <ul>
      <% reference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag %>
  </div>

  <div class="field">
    <%= form.label :project %>
    <%= form.text_field :project %>
  </div>

  <div class="field">
    <%= form.label :country_city %>
    <%= form.text_field :country_city %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :address_link %>
    <%= form.text_field :address_link %>
  </div>

  <div class="field">
    <%= form.label :installer %>
    <%= form.text_field :installer %>
  </div>

  <div class="field">
    <%= form.label :installer_link %>
    <%= form.text_field :installer_link %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner %>
  </div>

  <div class="field">
    <%= form.label :owner_link %>
    <%= form.text_field :owner_link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
