<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @reference.image %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @reference.customer %>
</p>

<p>
  <strong>Type:</strong>
  <%= @reference.type %>
</p>

<p>
  <strong>Project:</strong>
  <%= @reference.project %>
</p>

<p>
  <strong>Product:</strong>
  <%= @reference.product %>
</p>

<p>
  <strong>Code:</strong>
  <%= @reference.code %>
</p>

<p>
  <strong>Location:</strong>
  <%= @reference.location %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @reference.quantity %>
</p>

<p>
  <strong>Year:</strong>
  <%= @reference.year %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
