<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @reference.tag %>
</p>

<p>
  <strong>Project:</strong>
  <%= @reference.project %>
</p>

<p>
  <strong>Country city:</strong>
  <%= @reference.country_city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @reference.address %>
</p>

<p>
  <strong>Address link:</strong>
  <%= @reference.address_link %>
</p>

<p>
  <strong>Installer:</strong>
  <%= @reference.installer %>
</p>

<p>
  <strong>Installer link:</strong>
  <%= @reference.installer_link %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @reference.owner %>
</p>

<p>
  <strong>Owner link:</strong>
  <%= @reference.owner_link %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
