<p id="notice"><%= notice %></p>

<h1>Manufacturings</h1>

<table>
  <thead>
    <tr>
      <th>Inputs</th>
      <th>Process</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manufacturings.each do |manufacturing| %>
      <tr>
        <td><%= manufacturing.inputs %></td>
        <td><%= manufacturing.process %></td>
        <td><%= manufacturing.product %></td>
        <td><%= link_to 'Show', manufacturing %></td>
        <td><%= link_to 'Edit', edit_manufacturing_path(manufacturing) %></td>
        <td><%= link_to 'Destroy', manufacturing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manufacturing', new_manufacturing_path %>
