<p id="notice"><%= notice %></p>

<p>
  <strong>Inputs:</strong>
  <%= @manufacturing.inputs %>
</p>

<p>
  <strong>Process:</strong>
  <%= @manufacturing.process %>
</p>

<p>
  <strong>Product:</strong>
  <%= @manufacturing.product %>
</p>

<%= link_to 'Edit', edit_manufacturing_path(@manufacturing) %> |
<%= link_to 'Back', manufacturings_path %>
