<p id="notice"><%= notice %></p>

<h1>Performences</h1>

<table>
  <thead>
    <tr>
      <th>Features</th>
      <th>Maintenance</th>
      <th>Warranty</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @performences.each do |performence| %>
      <tr>
        <td><%= performence.features %></td>
        <td><%= performence.maintenance %></td>
        <td><%= performence.warranty %></td>
        <td><%= performence.product %></td>
        <td><%= link_to 'Show', performence %></td>
        <td><%= link_to 'Edit', edit_performence_path(performence) %></td>
        <td><%= link_to 'Destroy', performence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Performence', new_performence_path %>
